<!DOCTYPE>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
  </head>
    <body>
        <header>
            <a href = "/index"><center></center><img class="logo" src="/images/logo.svg"></a>
            <h2>Add A T-Shirt</h2>
            <div class="adminBar">
                <form action = "/admin" method="POST">
                    <input type = "number" name = "quant" placeholder = "Quantity">
                    <input type = "number" name = "price" placeholder = "$">
                    <input type = "text" name = "shirt_url" placeholder = "Image URL">
                    <button>Add</button>
                </form>
            </div>
        </header>
        <% if (tshirts) %>
            <ul style= "display: inline-block">
                <% tshirts.each do |shirt| %>
                   <div class="shirtpic"style="background-image:url(<%= shirt.img_url %>)">
                     <a href="/admin/<%= shirt.id %>">
                    <div class= "wordblock2">
                        <span style="bottom:0px"> quantity <%= shirt.quantity %>
                        price $<%= shirt.price %></span>
                    </div></a>
                    </div>
           
            </ul>
                 <% end %>
        <% end %>
    </body>
</html>