<html>
<head>
	<title></title>
</head>
<body>
	<h2>Thank You for your purchase of <%= shirtTransaction.trans_quant %> E-shirts. Costing <%= total %></h2>
	</br>
	<img src="<%= shirt.img_url %>">
	<p>your confirmation Email is <%= shirtTransaction.email %> </p>
</body>
</html>