<html>
<header class = "confirmHeader">
<a href = "/index"><center></center><img class="logo" src="/images/logo.svg"></a>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</header>
<body class = "confirm">
    <h3>Thank you for your purchase of <%= shirtTransaction.trans_quant %> E-shirts! The total cost is $<%= total %> - you lucky thing!</h3>
    <h3>A confirmation e-mail will be sent to <%= shirtTransaction.email %> </h3>
    </br>
    <img src="<%= shirt.img_url %>">
    <form action="/index">
    <br>
<input type="submit" value="Thanks for shopping! Back to t-shirts!">
</form>
</body>
</html>