<html>
<body>
<% if (tshirts) %>
<ul style= "display: inline-block">
<% tshirts.each do |shirt| %>
<img src="<%= shirt.img_url%>">

<div class= info>
<h4> quantity <%= shirt.quantity %>
	price <%= shirt.price %></h4>
<button href="/purchase/<%= shirt.id %>"> Buy </button>
</div>
<% end %>
</ul>
<% end %>
</body>
</html>