<html>
<header>
<a href = "/index" ><h1>T-Shirt.Ly</h1></a>
</header>
<body>
<% if (tshirts) %>
<ul style= "display: inline-block">
<% tshirts.each do |shirt| %>
<div class="shirtpic"><img src="<%= shirt.img_url%>"></div>

<div class= "info">
<h4> quantity: <%= shirt.quantity %>
	price $<%= shirt.price %></h4>

<form action="/index/<%= shirt.id %>">
<input type="submit" value="Buy">
</form>
</div>
<% end %>
</ul>
<% end %>
</body>
</html>