body {
	padding-left: 40px;
	padding-right: 40px;
}

.shirt{
	display: inline-block; 
	width:300px; 
	height:300px; 
	background-size: contain; 
	background-blend-mode: multiply;  
	border: 2px solid LightSteelBlue;
	margin:3px;
}

.trans_li {
	display: inline-block;
	list-style: none;
}

.history{
	text-align: center;
}

.shirtpic {
	text-align: center;
}

table{
	margin-right: auto;
	margin-left: auto;
	width:50%;
}
td {
	height: 25px;
}
.one{
	margin-left: 10px;
	width:8%;
}
.two{
	margin-left: 100px;
	width:10%;
}
.three{
	margin-left: 50px;
	width:5%;
}

.edit_delete {
	display: inline-block;
}