*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body{

    background-color: palegoldenrod;

}
.buy{
	position: relative;
	top: -2px;
	background-color: rgb(222,136,185);
  border-style: none;

}
.shirt{
	background-image: url();
	background-color: beige;
	display: inline-block; 
	width:300px; 
	height:300px; 
	background-size: contain; 
	background-blend-mode: multiply;  
	border: 2px solid LightSteelBlue;
	margin:3px;
}
.wordblock{
	position: relative;
	background-color: rgba(102,118,104,.7);
	top: 88.2%;
	text-align: center

}

span{
	font-family: courier;
	/*font-weight: bold;*/
	color:white;
	position: inherit;
	bottom: -7px;
}

.logo{
	width: 90%;
	position: relative;
	left: 31px
}
.trans_li {
    display: inline-block;
    list-style: none;
}

.history{
    text-align: center;
}

.shirtpic {
	background-image: url();
	background-color: beige;
	display: inline-block; 
	width:300px; 
	height:300px; 
	background-size: contain; 
	background-blend-mode: multiply;  
	border: 2px solid LightSteelBlue;
	margin:3px;
}

table{
    margin-right: auto;
    margin-left: auto;
    width:50%;
}
td {
    height: 25px;
}
.one{
    margin-left: 10px;
    width:8%;
}
.two{
    margin-left: 100px;
    width:10%;
}
.three{
    margin-left: 50px;
    width:5%;
}

.edit_delete {
    display: inline-block;
}
.confirmHeader{
    text-align: left;
    background-color: darkblue;
    padding: 1px;
}

.confirmHeader h1{
    color: white;
}

.confirmHeader a{
    text-decoration: none;
}

.confirm{
    background-color: lightblue;
    text-align: center;
}

.confirm input{
    border: 2px solid blue;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    font-size: 14px;
}